@import "variables";
@import "reset";
@import "classes";
@import "media-queries";
@import "utils";
@import "base";

.container {
  min-height: 100vh;
  display: grid;
  grid:
    "header" auto
    "content" 1fr
    "footer" auto /
    auto;
}

header {
  grid-area: header;
  background: var(--dark);
  padding: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  a {
    color: white;
  }
  .header-brand {
    font-size: 4rem;
    font-weight: 700;
  }
  ul {
    display: flex;
    li {
      .header-nav {
        font-size: 1.8rem;
        padding: 0 10px;
      }
      .active {
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
}

.content {
  grid-area: content;
  padding: 20px;
  background: var(--divider);
}

footer {
  grid-area: footer;
  padding: 2rem;
  background: var(--dark-grey);
  font-size: 1.8rem;
  text-align: center;
  color: white;
}